html,
body {

    margin: 0 auto;
    padding: 0px;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.themecolor {
    background: #354b58;
    padding: 90px 12px;
    color: white;
}

.themecolordark {
    background: #31414a;
    padding: 90px 12px 35px 12px;
    color: white;
}

.nonfloat {
    overflow: hidden;
}


/*this is for round buttons */
.round {
    border-radius: 20px;
}

/*this is for circle shape */
.round50 {
    border-radius: 50%;
}


/*general padding mostly required*/
.pad {
    padding: 11px 13px;
}

/*general margin ,ostly required*/
.marg {
    margin-top: 10px;
}

.boldclass {
    font-weight: 800;
}

button {
    cursor: pointer;
}



/*mobile logo image*/
.navbody >.padbelow> .logo_div{
    display: none;
}


/*container element */
.container {

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.navbody div #nav-check {
    display: none;
}

.navbody {
    background: #354b58;

}

.padbelow {
    padding-bottom: 0px;
}

.nav_top_main {
    overflow: hidden;
    /*background-color: #333;*/
}

.nav_top_sec {
    display: block;
    overflow: auto;
}

.topsub{
	display: inline-block;
}


.topsub a {
    float: left;
    display: block;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.nav_top_main a:hover {
    background: #ddd;
    color: black;
}

.nav_top_main a.active {
    background: #4caf50;
    color: white;
}

.nav_top_main .icon {
    display: none;
}


.logo_div {
    float: left;
}

.nav_top_sec ul {
    display: inline-block;
}

.align_vert {
    vertical-align: 1px;
    padding-left: 2px;
}

.navright {
    float: right;
}

.nav_top_sec {
    text-align: center;
}

.navbody li {
    display: inline-block;
}

@media (max-width: 768px) {

	.divs10{
		width: 100% !important;
	}

	.divs7{
		width: 70% !important;
	}

	.divs3{
		width: 28% !important;
	}

	.divs5{
		width: 50% !important;
	}

}


@media (max-width: 500px) {

  
/*+menu toggle button on x-small screen*/
    .menu_toggle {

        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        /*background: #ccc;*/
        float: left;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: white;

    }
/*menubar button on normal */
    .menu_toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;

    }

/*cross bttton on click */
    .menu_toggle.active:before {
        content: '\f00d';
        font-family: fontAwesome;
        line-height: 40px;
        margin: 12px 0px;

    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
        width: 100%
    }

    nav.active ul {
        display: block;
    }

    nav.active ul li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        clear: both;
    }

    #socialmedia li{
    	display: inline-block !important;
    }

   .logo_div{
    	position: absolute;
    	top: 13px;
    	left: 86px;
    	z-index: 999;
    }
    
    .navbody .logo_div:first-child{
	display: none;
	}

    .logo_div img{
    	width: 80%;
    }

    nav.active .topsub a {
    	text-align: left;
    } 

    nav.active .navright {
    	clear: both;
    	float: left;
    }

    nav.active{
    	display: flex;
    	flex-flow: column;
    }

    .div-3 , .div2 , .div4 , .themecolor div{
    	width: 100% !important;
    }

    .footer1{
    	display: block !important;
    }

    .navbody >.padbelow> .logo_div{
	display: block;
	}

	.topsub a {
		padding:9px 16px;
	}

}



.carousel_div img {
    width: 100%;
}

.div-3 {
    float: left;
    width: 33.333%;
    padding: 72px 22px;
    display: inline-block;
}

.themecolor div {
    vertical-align: middle;
}

.div53 {
    width: 50%;
    padding: 0 8% 6% 0%;
    display: inline-block;
    text-align: center;
}

.div3 {
    width: 30%;
    display: inline-block;
}

.div2 {

    width: 20%;
    padding-left: 5%;
    display: inline-block;
}

.white {
    color: white;
}

/*article  section starts */
.image_card img {
    max-width: 100%;
}

.card_detail {
    color: #79a0ba;
}


.title {
    font-weight: 700;
    font-size: 1.5rem;

}

.clearin {
    border: 2px solid ;
    background: transparent;
    color: inherit;
}


.info span {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/*article css ends */


/*portfolio starts here */
.img_profile {
    text-align: center;
}

.img_profile img {
    width: 70%;
    max-width: 150px;

}

.words span {
    letter-spacing: 0.5px;
}

button.dark.pad.boldclass {
    background: black;
    border: none;
    color: white;

}

/*portfolio ends here*/


/*list footer starts here */
.footer1{
	display: flex;
}

.footer1 div {
	flex-grow: 1 1 2 1;
}

.footer1 div ul {
    list-style-type: none;
    font-weight: 600;
    padding: 0 0 10% 0;
}

.footer1 div ul li {
    padding: 12px;
}


.div2 {
    width: 20%;
    display: inline-block;
    position: relative;
    top: 11px;
}

.div4 {
    width: 30%;
    display: inline-block;
    position: relative;
    top: 11px;
    padding: 0% 0 10% 5%;
}

.title_small {
    font-size: 16px;
    /*margin: 5px;*/
}

/*list fotter ends here */


/*bottom footer */
.footer_bottom {
    text-align: center;
    font-size: 12px;
}